<mat-card class="mat-elevation">
  <mat-card-title color="primary">
    Accounts
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <table>
      <tr>
        <th>Name</th>
        <th>Date of Birth</th>
      </tr>
      <tr *ngFor="let account of accounts">
        <td>{{ account.fullName }}</td>
        <td>{{ account.dateOfBirth }}</td>
        <td>
          <button  mat-icon-button (click)="editAccount(account.id)"  color="primary"> <mat-icon>edit</mat-icon></button>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
