

table{
  width: 100%;

  th {
    text-align: left;
  }
}

.mat-card{
  margin: 10px;

  .mat-icon-button{
    float: right;
  }
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 0px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12) !important;
}