<mat-card>
  <mat-card-title color="primary">
    Accounts
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let account of accounts">
        {{ account.id }}
        {{ account.fullName }}
        {{ account.dateOfBirth }}
        <button  mat-raised-button (click)="editAccount(account.id)"  color="primary">Edit</button>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

