<form [formGroup]="form" (ngSubmit)="submit(form)">
  <h1 mat-dialog-title>Edit Account</h1>
  <mat-dialog-content>
    <mat-form-field>
      <input matInput formControlName="fullName" placeholder="Enter full name">
    </mat-form-field>

    <div formGroupName="dateOfBirth">
      <mat-form-field>
        <input matInput formControlName="day" placeholder="Enter day">
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="month" placeholder="Enter month">
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="year" placeholder="Enter year">
      </mat-form-field>

    </div>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="submit">Update</button>
    <button mat-button type="button" mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>